body {
    /* background-color: #c7d0da; */
    margin: 0%;
    padding: 0%;
}

.Main-name {
    text-align: center;
    font-size: 150%;
}

.description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
  }

table {
    border-collapse: collapse;
}

td {
    font-size: 110%;
    padding: 1%;
  }

th{
    font-size: 110%;
}

.examples{
    margin-left: 3%;
}

.NavigationBar {
    position: sticky;
    top: 0px;
    background-color: rgb(197, 201, 190);
}
  
.NavigationBackground {
display: block;
margin: 0px;
list-style: none;
overflow: hidden;
}

.HomePageButton {
display: list-item;
float: left;
margin: 15px;
}

.NavigationButton {
display: list-item;
float: right;
margin: 15px;
}

.NavigationText {
display: block;
text-decoration: none;
font-size: 150%;
}

.memo {
    text-align: center;
    /* background-color: #86bae6; */
    width: 40%;
    padding: 0.5%;
    border: 2px solid black;
    margin-top: 1%;
    border-radius: 10px;
    display: inline-block;
}

.memoTitle {
    /* text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 200%; */
    font-family: Arial, Helvetica, sans-serif; 
}

.memoTable {
    width: 100%;
    /* background: #5f61c2; */
    text-align: center;
    border-spacing: 5px;
    box-sizing: content-box;
    /* border: 2px solid black; */
    border-radius: 10px;
}

thead{
    text-transform:uppercase;
    background: #000;
}

.categories th{
    color: white;
    text-decoration: none;
}

button{
    margin-left: 0px;
}

tr{
    border: 1px solid black; 
}

/* CSS */
button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}


.add{
    margin-top: 2%;
    margin-left: 75%;
}
.submit{
    margin-top: 2%;
    margin-left: 10px;
}
input{
    margin-left: -3px;
}